.weekly-forecast-container {
  color: var(--default-secondary-text-color);
  display: flex;
  overflow-x: auto;
  width: 650px;
  height: 12rem;
  color: var(--default-secondary-text-color);
}

.weekly-forecast-sub-container {
  display: grid;
  grid-template-columns: 140px;
  align-items: center;
  justify-items: center;
}

.weekly-forecast-sub-container > h4 {
  font-weight: 600;
}

.weekly-forecast {
  display: grid;
  grid-template-columns: 2rem 5rem;
  gap: 0.2rem;
  justify-items: center;
}

.weekly-forecast > i {
  justify-self: end;
}

@media (max-width: 426px) {
  .weekly-forecast-container {
    width: 100%;
  }
  .weekly-forecast-sub-container {
    grid-template-columns: 8rem;
  }
}
