.weekly-forecast-container {
  color: var(--default-secondary-text-color);
  display: flex;
  overflow-x: auto;
  width: 650px;
  height: 12rem;
  color: var(--default-secondary-text-color);
}

.weekly-forecast-sub-container {
  display: grid;
  grid-template-columns: 100px;
  align-items: center;
  justify-items: center;
}

.weekly-forecast {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

@media (max-width: 426px) {
  .weekly-forecast-container {
    width: 100%;
  }
  .weekly-forecast-sub-container {
    grid-template-columns: 6.5rem;
  }
}
