.hourly-forecast-heading {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: var(--small-margin);
  color: var(--default-secondary-text-color);
}

.hourly-forecast-container {
  color: var(--default-secondary-text-color);
  display: flex;
  overflow-x: auto;
  width: 650px;
  height: 12rem;
}

.hourly-forecast-sub-container {
  display: grid;
  grid-template-columns: 140px;
  align-items: center;
  justify-items: center;
}

.hourly-forecast-sub-container > h4 {
  font-weight: 600;
}

.hourly-forecast {
  display: grid;
  grid-template-columns: 2rem 5rem;
  gap: 0.2rem;
  justify-items: center;
}

.hourly-forecast > i {
  justify-self: end;
}

@media (max-width: 426px) {
  .hourly-forecast-container {
    width: 100%;
  }
  .hourly-forecast-sub-container {
    grid-template-columns: 8rem;
  }
}
