.forecast-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--small-margin);
}

.forecast-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.hourly-forecast-main,
.weekly-forecast-main {
  border: 1px solid var(--default-border-color);
  padding: 1.1rem;
  border-radius: var(--default-radius);
  height: 13rem;
}

.justify-center {
  justify-self: center;
}

@media (max-width: 1024px) {
  .forecast-container {
    margin-top: 1rem;
  }
}

@media (max-width: 426px) {
  .hourly-forecast-main,
  .weekly-forecast-main {
    width: 28rem;
  }

  .forecast-container {
    margin-bottom: var(--default-margin);
  }
}
