.heading {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 0.9rem;
}

.main-area {
  margin-top: var(--default-margin);
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

@media (max-width: 1024px) {
  .main-area {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .main-area {
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .heading {
    font-size: 40px;
  }

  .main-area {
    margin-top: var(--small-margin);
    margin-bottom: 1rem;
  }

  .heading {
    margin: var(--small-margin);
  }
}
